<!doctype html>
<html>
  <head>
    <title>Indel Mapper</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <div class="container">
      <div class="banner">
        <h1 id=title>Indel Mapper</h1>
      </div>


      <div class="flashes">
      {% with flashes = get_flashed_messages() %}
        {% if flashes %}
            <ul class="server-error">
              {% for f in flashes %}
              <li>{{ f }}</li>
              {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
      </div>

      {% block body %}
      {% endblock body %}

      <form method="POST" action="/" enctype="multipart/form-data">
        <div>
          <label for="alignment">Alignment SAM File</label>
          <input name="alignment" type="file">
          <p> The alignment SAM file is the output of bowtie2 alignment. (Max size 40MB) <p>
        </div>

        <div>
          <label for="reference">Reference CSV File</label>
          <input name="reference" type="file">
          <p>The reference CSV file should contain name of the reference, reference sequence, n20, and pam.</p>
        </div>

        <div>
          <input type="submit" value="Submit">
        </div>
      </form>

      <hr></hr>

      <div>
        <h2>How should I format my CSV?</h2>
        <p>The CSV should not have headers. In order, the columns should represent the name of the reference, reference sequence, n20, and pam. The pam should be 'NGG' or 'CCN'.</p>
        <p>Example rows:</p>
        <p class="sequence">gene1,TGGTTGGAACTCTTTCCCCGGGGAAAACGGTTT,CCCCGGGGAAAA,NGG</p>
        <p class="sequence">gene2,AGTTCTCCTTTGAGCGTAGGCCGTATGTCC,TTGAGCGTAG,CCN</p>
      </div>

      <hr></hr>

    <footer>
      <p>Indel Mapper is free software, licensed under the <a href="https://gnu.org/licenses/gpl.html">GPLv3</a>. The code is available on <a href="https://github.com/hrs/indel-mapper">GitHub</a>.</p>
    </footer>
  </body>
</html>
